body{
    
}
.index_header{
   
}
.index_header_text1{
    margin: auto;
    color: black;
    width: 17em;
    font-size: 0.5em;
}

.index_header_text2{
    margin: auto;
    color: black;
    width: 17em;
    font-size: 0.7em;
}

.header-container{
    background-image: ;
}

.profile_photos {
    height: 2em;
}